body{
    background-color: rgb(24, 94, 174);
}

.page{
    width: 80vw;
    text-align: center;
    height: 80vh;
    background-color: rgb(215, 220, 233);
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.exp-heading{
    text-align: center;
    margin-top: 1.5%;
}