.footerContent{
  /* position: relative;
  top: 50vh; */
  font-size: 25px;
  text-align: center; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-top: 20px;
  width: 100%;
  background: rgb(23, 31, 40);
}

.social-icons {
    position: relative;
    margin-top: 10px;
    font-family: "Open Sans";
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  a{
    margin-left: 15px;
  }

  @media (max-width: 600px) {
    .footerContent{
      position: relative;
      top: 33vh;
    }
  }

  @media (max-width: 300px) {
    .footerContent{
      position: relative;
      top: 80vh;
    }
  }